/* Basic  ---------------------------------------- */

.clear { clear: both; }

body {
	background: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #646464;
	text-align: center;
}

#wrapper {
	text-align: left;
	width: 930px;
	margin: 0 auto;
	position: relative;
}

/* Logo  ---------------------------------------- */

h1 {
	margin: 15px 0 10px 5px;
	width: 169px;
	height: 53px;
	background: url(../images/logo.png) no-repeat left top;
}

h1 a {
	display: block;
	width: 225px;
	height: 28px;
}

h1 span { display: none; }

#user_nav {
  float: right;
  position: absolute;
  right: 0;
  top: 0;
}

#active_project_name {
  float: right;
  position: absolute;
  right: 0;
  top: 35px;
  font-size: 16px;
}

#active_project_name a {
	color: #646464;
	text-decoration: none;
}

#active_project_name a:hover { text-decoration: underline; }


/* Main Navigation ---------------------------------------- */

#mainNav {
  clear: both;
	width: 918px;
	height: 37px;
	padding: 6px;
	margin: 0 0 30px 0;
	background: url(../images/top-menu-bg.gif) no-repeat left top; 
	/* We used a background image making the thick border and the thin one to keep the html structure simple */
}

#mainNav li {
	float: left;
	height: 37px;
	border-right: 1px solid #ddd;
}

#mainNav li a,
#mainNav li span {
	display: block;
	float: left;
	height: 37px;
	font-weight: bold;
	line-height: 37px;
	text-decoration: none;
	color: #646464;
	padding: 0 20px;
}

#mainNav li.project {
	float: right;
	border-left: 1px solid #ddd;
	border-right: none;
}

#mainNav li a:hover { background: #fdfcf6; }

#mainNav li a.active, #mainNav li a.active {
	background: #f0f0f0 url(../images/top-menu-item-bg.gif) repeat-x left top;
	color: #454545;
}

/* Container ---------------------------------------- */

#containerHolder {
	background: #eee;
	padding: 5px;
}


#container {
	background: #fff url(../images/content.gif) repeat-y left top;
	border: 1px solid #ddd;
	width: 918px;
	position: relative;
}

/* Sidebar ---------------------------------------- */

#sidebar {
	width: 179px;
	float: left;
}

#sidebar .sideNav { width: 179px; }

#sidebar .sideNav li { border-bottom: 1px solid #ddd; width: 179px; }

#sidebar .sideNav li a {
	display: block;
	color: #646464;
	background: #f6f6f6;
	text-decoration: none;
	height: 29px;
	line-height: 29px;
	padding: 0 19px;
	width: 141px;
}

#sidebar .sideNav li a:hover { background: #fdfcf6; }

#sidebar .sideNav li a.active, #sidebar .sideNav li a.active:hover {
	background: #f0f7fa;
	color: #c66653;
}

/* Page title ------------------------------------- */

h2 {
  color: #c66653;
  background-color: #fff;
	font-size: 16px;
	line-height: 16px;
	font-weight: bold;
	padding: 20px 0 10px 198px;
	border-bottom: 1px solid #ddd;
}

/* Quicklinks ------------------------------------ */

ul#quicklinks {
  position: absolute;
  top: 22px;
  right: 15px;
  font-size: 14px;
}

ul#quicklinks a {
  color: #646464;
  text-decoration: none;
}

ul#quicklinks a:hover {
  text-decoration: underline;
}

/* Content ---------------------------------------- */

#main {
	width: 700px;
	float: right;
	padding: 0 19px 19px 0;
}

h3 {
	font-size: 14px;
	line-height: 14px;
	font-weight: bold;
	color: #5494af;
	padding: 0;
	margin: 20px 0;
}

h4 {
  margin: 12px 0;
}

p {
  margin: 8px 0;
}

#main table {
	border-top: 1px solid #ddd;
	width: 700px;
}

#main table tr th,
#main table tr td {
	padding: 8px 20px;
	height: 13px;
	border-bottom: 1px solid #ddd;
}

#main table tr td {
	background: #f6f6f6;
}

#main table tr.odd td {
	background: #fbfbfb;
}

#main table tr:hover td { background: #fdfcf6; }

#main table .action {
	text-align: right;
	padding: 0 20px 0 10px;
}

#main table tr .action a { margin: 0 0 0 10px; text-decoration: none; color: #9b9b9b; }
#main table tr:hover .action .edit { color: #c5a059; }
#main table tr:hover .action .delete { color: #a02b2b; }
#main table tr:hover .action .view { color: #55a34a; }

#main table tr:hover .action a:hover { text-decoration: underline; }

/* Footer ---------------------------------------- */

#footer {
	margin: 10px 0 30px 0;
	font-size: 11px;
	line-height: 11px;
	color: #9B9B9B;
	padding: 0 0 0 5px;
}

#footer a { color: #9B9B9B; }

#footer a:hover { text-decoration: none; }

/* Flash notices --------------------------------- */

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation, #error_explanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2, #error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p, #error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul, #error_explanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li, #error_explanation ul li {
  font-size: 12px;
  list-style: disc;
}

/* Misc --------------------------------- */

button#form_submitter {
  color: #646464;
  background-color: #F6F6F6;
  width: 50%;
  padding: 8px;
  border: 1px solid #ddd;
  margin: 35px 25% 20px 25%;
  display: block;
}

button#form_submitter:hover {
  background-color: #fdfcf6;
}

#main .content ul {
  margin-left: 20px;
  line-height: 1.5em;
  list-style-type: disc;
}

#main .content dt {
  font-weight: bold;
}

#main .content dd {
  margin: 4px 0 8px 20px;
}

/* Byggeweb --------------------------------- */

#byggeweb_attachment {
  width: 600px;
}

#byggeweb_folders {
  width: 250px;
  float: left;
  margin-right: 20px;
}

#byggeweb_files {
  width: 330px;
  float: left;
}

#byggeweb_files .message {
  text-align: center;
  font-size: 14px;
  color: #888;
  margin: 10px 0;
}

#byggeweb_files h3 {
  margin-top: 0;
}

#byggeweb_files li {
  margin-bottom: 5px;
}
