/* -------------------------------------------------------------------------------------------------

Load this stylesheet after formtastic.css in your layouts to override the CSS to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

For example, to make the inline hint paragraphs a little darker in color than the standard #666:

form.formtastic fieldset ol li p.inline-hints { color:#333; }

--------------------------------------------------------------------------------------------------*/

form.formtastic fieldset { border:1px solid #000; margin: 0; padding: 10px; }
form.formtastic fieldset legend { padding: 0.8em; font-weight: bold; }
form.formtastic fieldset fieldset legend { padding-bottom: 0; }

form.formtastic fieldset fieldset, form.formtastic fieldset.buttons { border:0; margin:0; padding:0; }

form.formtastic fieldset ol li.date fieldset {
  height: 0;
}
form.formtastic fieldset ol li.date fieldset ol {
margin:0;
padding:0;
width:auto;
position: relative;
top: 20px;
}
form.formtastic fieldset ol li fieldset legend.label label {
padding:0;
margin:0;
width:auto;
font-weight:normal;
}
form.formtastic fieldset ol li fieldset legend {
padding:0;
margin:0;
width:auto;
}

form.formtastic fieldset.table_group { margin:0; padding:0; }
form.formtastic fieldset.tableize { display:table; margin:0; padding:0; }
form.formtastic fieldset.tableize ol { display:table-row; }
form.formtastic fieldset.tableize ol li { display:table-cell !important; }
form.formtastic fieldset.table_group fieldset ol li label { display:none; }
form.formtastic fieldset.table_group legend + fieldset ol li label { display:block; float:none; width:auto; }

form.formtastic fieldset.table_group fieldset ol li.date fieldset ol { position:relative; top:0px; }
form.formtastic fieldset.table_group legend + fieldset ol li.date fieldset ol { position:relative; top:20px; }


/*form.formtastic fieldset ol li.date fieldset legend.label label { float:none; }*/