img.demo-front {
  float: left;
  margin-right: 15px;
}
.clear {
	clear: both;
}
#frontpage-create-work-process {
  margin: 20px;
  border: 2px solid #000;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
}
#frontpage-create-work-process a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  background-color: #3c3;
}
#frontpage-create-work-process a:hover {
  background-color: #3e3;
}