<%= f.inputs :class => 'pane', :id => 'pane_stemdata' do %>
  <h3>Stamdata</h3>
  <%= f.inputs :name, :address, :title_number, :postal_code, :apv_location, :health_safety_decided_by_owner,
               :health_safety_decided_by_contractor, :health_safety_plan, :health_safety_plan_location %>
<% end %>
