<% title 'Om denne applikation' %>

<h3>Entreprenørens dataenhed</h3>

<p>
  Produktionskortet er entreprenørens struktur, hvor information fra 
  en række parter kan samles. En proces - et produktionskort. Det er
  defineret i en standardiseret data-struktur (XML). Strukturen kan
  bruges til at gemme data i.
</p>

<h3>Demonstrator: Opret, importer, eksporter, og udskriv produktionskort</h3>

<p>
  Vi har udviklet en demonstrator. Formålet er at demonstrere hvordan
  produktionskort kan genereres umiddelbart, også uden tilknytning til
  en 3D objektmodel eller andre forudsætninger.
</p>

<p>
  Demonstratoren er et simpelt værktøj der er baseret på
  produktionskortets struktur. Mere avancerede systemer og værktøjer
  vil kunne bygges ud fra samme struktur. Med demonstratoren kan du
  oprette dine egne produktionskort og gemme dem som XML-filer til
  senere viderebearbejdning.
</p>

<p>
  XML-strukturen kan bruges til at bygge nye fleksible systemer op
  omkring, så entreprenøren kan få nye fleksible værktøjer til
  rådighed.
</p>
